.footer-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cancel-btn {
    background-color: none;
    border: 1px solid #0758ee;
    color: #0758ee;
    padding: 15px;
    border-radius: 5px;
    width: 26vw;
}
.submit-btn {
    background-color: #0758ee;
    color: white;
    border-radius: 5px;
    border: none;
    width: 26vw;
}
.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}